<div class="card-footer">
  <div>
    <div class="card mt-5">
      <div class="card-header bg-primary text-white">Liste des programmes</div>
      <div class="card-body">
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Version</th>
    <th scope="col">Nom</th>
    <th scope="col">Description</th>
    <th scope="col">Durée</th>
    <th scope="col">Date de création</th>
    <th scope="col">Affichage inProgress</th>
    <th scope="col">Est-il validé</th>
    <th scope="col">Est-il terminé</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let program of list()">
    <th  style="cursor: pointer"> <a class="normalTextBold" [routerLink]="['/program', program.id]" routerLinkActive="active" > {{program.id}} </a> </th>
    <th style="cursor: pointer"> <a class="normalText" [routerLink]="['/program', program.id]" routerLinkActive="active" >  {{program.version}}</a> </th>
    <th style="cursor: pointer"> <a class="normalText" [routerLink]="['/program', program.id]" routerLinkActive="active" > {{program.name}}</a> </th>
    <th style="cursor: pointer"> <a class="normalText" [routerLink]="['/program', program.id]" routerLinkActive="active" > {{program.description}}</a> </th>
    <th style="cursor: pointer"> <a class="normalText" [routerLink]="['/program', program.id]" routerLinkActive="active" > {{program.duration}}</a> </th>
    <th style="cursor: pointer"> <a class="normalText" [routerLink]="['/program', program.id]" routerLinkActive="active" > {{program.creationDate | date:'dd/MM/yyyy'}}</a> </th>
    <th style="cursor: pointer"> <a class="normalText" [routerLink]="['/program', program.id]" routerLinkActive="active" > {{program.inProgress}}</a> </th>
    <th style="cursor: pointer"> <a class="normalText" [routerLink]="['/program', program.id]" routerLinkActive="active" > {{program.isValidated}}</a> </th>
    <th style="cursor: pointer"> <a class="normalText" [routerLink]="['/program', program.id]" routerLinkActive="active" > {{program.isDone}}</a> </th>
    <td>{{program.id}}</td>
    <td>{{program.version}}</td>
    <td>{{program.name}}</td>
    <td>{{program.description}}</td>
    <td>{{program.duration}}</td>
    <td>{{program.creationDate | date:'dd/MM/yyyy'}}</td>
    <td>{{program.inProgress.userProgressing.firstName}}</td>
    <td>{{program.isValidated}}</td>
    <td>{{program.isDone}}</td>
    <td>
      <div class="btn-group btn-group-sm"></div>
      <button type="button" class="btn btn-info" (click)="edit(program.id)">
        <i class="fas fa-pencil-alt"></i>
      </button>
      <button type="button" class="btn btn-danger" (click)="delete(program.id)">
        <fa name="trash" inverse="true"></fa>
      </button>
    </td>
  </tr>
  </tbody>
</table>
        <div class="card-footer">
          <button type="button" class="btn btn-success btn-lg" (click)="add()">
            <fa name="plus"></fa>
          </button>
        </div>
      </div>
    </div>
  </div>


<div class="card mt-3" *ngIf="currentProgram">
  <div class="card-header bg-primary text-white">Edition du programme</div>
  <div class="card-body">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" placeholder="Entrez le nom du programme" id="name" [(ngModel)]="currentProgram.name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" placeholder="Entrez la description du programme" id="description" [(ngModel)]="currentProgram.description">
    </div>
    <div class="form-group">
      <label for="duration">Durée</label>
      <input type="number" class="form-control" placeholder="Entrez la durée du programme" id="duration" [(ngModel)]="currentProgram.duration">
    </div>
    <div class="form-group">
      <label for="creationDate">Date de création du programme</label>
      <input type="date" class="form-control" placeholder="Entrez la date de création du programme" id="creationDate" [ngModel]="currentProgram.creationDate | date:'yyyy-MM-dd'" (ngModelChange)="currentProgram.creationDate=$event">
    </div>
    <div class="form-group form-check">
      <label for="isValidated" class="form-check-label">Le programme a-t'il été validé ?</label>
      <input type="checkbox" class="form-control" placeholder="Le programme a-t'il été validé" id="isValidated" [(ngModel)]="currentProgram.isValidated">
    </div>
    <div class="form-group form-check">
      <label for="isDone" class="form-check-label">Le programme a-t'il été terminé ?</label>
      <input type="checkbox" class="form-control" placeholder="Le programme a-t'il été terminé" id="isDone" [(ngModel)]="currentProgram.isDone">
    </div>
</div>
  <div class="card-footer">
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary" (click)="save()">
        <fa name="check"></fa>
      </button>
      <button type="button" class="btn btn-warning" (click)="cancel()">
        <fa name="undo" inverse="true"></fa>
      </button>
    </div>
  </div>
</div>
  </div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Détail de l'élève</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm">
      <tbody>
      <tr>
        <th>Tableau de bord du programme: </th>
        <td>{{detailProgram.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
