<div class="row justify-content-center">
  <div class="col-6 ">
  <h3 style="margin-left: 100px">Veuillez choisir le niveau des exercices à faire</h3>
  </div>
</div>




<div class="row justify-content-around" style="margin-top: 20px">
  <div class="col-lg-3" *ngFor="let level of listLevel()" [routerLink]="['spec/', level.id]" style="cursor: pointer">
    <div class="card border-success" style="border-radius: 10px">
      <div id="cardForMouseOver" style="text-align: center">
        <div><img id="card-img" src="./assets/images/bodybuilder.jpg"
                  style="width: 320px; height: 400px; margin-top: 30px">
          <p id="card-text">{{level.levelDescription}}</p>
        </div>
        <h2>{{level.levelName}}</h2>

      </div>
    </div>
  </div>
</div>
