/*card-img-top {*/
/*  max-height: 10px;*/
/*}*/

.cardForMouseOver/*Endroit ou afficher le mouseOver*/{
  position: relative;
  text-align: center;
}

.card-img {

}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
}

.cardForMouseOver:hover .card-text {
   visibility: visible;
}

.cardForMouseOver:hover .card-img {
  opacity: 0.1;
  transition: ease;

}

.cardForMouseOver:hover {
  background: rgba(0, 0, 0, 0.75) ;
}

/*.card-text !*A montrer en mouseOver*!{*/
/*   top: 0;*/
/*   bottom: 0;*/
/*   left: 0;*/
/*   right: 0;*/
/*   background: rgba(0, 0, 0, 0.75) !important;*/
/*   color: #000;*/
/*   visibility: hidden;*/
/*   opacity: 0;*/
/* }*/

/*.card-img !*A montrer tout le temps*!{*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/

/*.cardForMouseOver:hover!*Endroit ou afficher le mouseOver*!{*/
/*  opacity: 0.1;*/
/*}*/

/*.cardForMouseOver:hover .card-text !*Endroit ou afficher le mouseOver*!{*/
/*   visibility: visible;*/
/*  color: #000;*/
/*   opacity: 1;*/
/*}*/
