<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/board']" routerLinkActive="active">Tableau de bord</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/sport']" routerLinkActive="active">Liste des sports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/auth']" routerLinkActive="active">Se déconnecter</a>
  </li>
  <li class="nav-item">
  <a class="dropdown-item" [routerLink]="['/degrees']" routerLinkActive="active">Degree</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" [routerLink]="['/exercices']" routerLinkActive="active">Exercice</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" [routerLink]="['/in-progresses']" routerLinkActive="active">InProgress</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" [routerLink]="['/levels']" routerLinkActive="active">Level</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" [routerLink]="['/programs']" routerLinkActive="active">Program</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" [routerLink]="['/sessions']" routerLinkActive="active">Session</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" [routerLink]="['/specialisations']" routerLinkActive="active">Specialisation</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" [routerLink]="['/sports']" routerLinkActive="active">Sport</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" [routerLink]="['/users']" routerLinkActive="active">User</a>
  </li>
</ul>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
