<div class="row justify-content-center">
  <div class="col-6 ">
    <h3 style="margin-left: 100px">Veuillez choisir un type d'exercice à faire</h3>
  </div>

</div>

<div class="row justify-content-around mt-3" >


  <div class="col-3 mb-5" *ngFor="let specialisation of listSpecs()" [routerLink]="['level/',specialisation.id]"
       style="cursor: pointer">

    <div class="card border-success" style="border-radius: 10px">
      <div id="cardForMouseOver" style="text-align: center">
        <div><img id="card-img" src="{{specialisation.img}}"
                  style="width: 320px; height: 400px; margin-top: 30px">
          <p id="card-text">{{specialisation.speDescription}}</p>
        </div>
        <h2>{{specialisation.speName}}</h2>

      </div>

    </div>

  </div>

</div>
<div class="row justify-content-end mr-2">
    <button class="btn btn-info mb-5 justify-content-end" (click)="back()"> Retour à la liste des sports</button>
</div>


