<div class="row">
  <div class="col-3" style="top:30px; left:30px ">
    <img style="border-radius: 50%" src="../../assets/images/user.jpg" class="img-circle" alt="ma photo" width="130" height="130">

  </div>
  <div class="col-3" style="top: 50px">
    <div class="form-group">
      <label for="nom">Mon nom:</label>
      <input type="text" class="form-control" placeholder="Entrer le nom" id="nom" >
    </div>
    <div class="form-group">
      <label for="prenom">Mon prénom:</label>
      <input type="text" class="form-control" placeholder="Entrer le prénom" id="prenom">
    </div>
    <div class="form-group">
      <label for="pseudo">Mon pseudo:</label>
      <input type="text" class="form-control" placeholder="Entrer le pseudo" id="pseudo">
    </div>

  </div>
  <div class="col-3" style="top: 50px">
    <div class="form-group">
      <label for="email">Mon E-mail:</label>
      <input type="email" class="form-control" placeholder="exemple@xxxx.com" id="email">
    </div>
    <div class="form-group">
      <label for="mdp">Mon mot de passe:</label>
      <input type="password" class="form-control" placeholder="Entrer le mot de passe" id="mdp">
    </div>
    <div class="form-group">
      <label for="dtNaissance">Ma date de naissance</label>
      <input type="date" class="form-control" placeholder="Entrer la date de naissance" id="dtNaissance">

    </div>
  </div>

</div>
<div class="row justify-content-center" style="margin-top: 80px">
  <button class="btn btn-success">Je valide les modifications</button>
</div>

<div class="row justify-content-end mr-2">
  <button class="btn btn-info mb-5 justify-content-end" (click)="back()"> Retour à mon tableau de bord</button>
</div>
