<div class="row justify-content-center">
  <div class="col-7">
    <h3 style="margin-left: 100px">Veuillez choisir quel sport vous souhaitez pratiquer</h3>
  </div>
  <div class="col-5" >
    <div>
      <input style="margin-left:200px ;border-radius: 10px" placeholder="Recherche" [(ngModel)]="search">
    </div>
  </div>
</div>


<div class="row justify-content-around" style="margin-top: 20px">
  <div class="col-lg-4" *ngFor="let sport of list()" [routerLink]="[sport.id]"
       style="cursor: pointer">
    <div class="card border-success" style="border-radius: 10px">
      <div id="cardForMouseOver" style="text-align: center">
        <div><img id="card-img" src="{{sport.img}}"
                  style="width: 300px; height: 350px; margin-top: 30px">
          <p id="card-text">{{sport.sportDescription}}</p>
        </div>
        <h2>{{sport.sportName}}</h2>

      </div>
    </div>
  </div>
</div>
