<div style="text-align: center; margin-top: 15px">
  <h1> Tableau de bord du programme: </h1>
  <h2>{{this.program?.name}} </h2>
  <div class="form-group">
   <ngb-rating [formControl]="ctrl" max="5" (ngModelChange)="program.rate"></ngb-rating>
    <div class="form-text small">
      <div *ngIf="ctrl.valid" class="text-success">Merci</div>
      <div *ngIf="ctrl.invalid" class="text-danger">Notez le programme</div>
    </div>
  </div>
</div>


<!--<div class="progress">-->
<!--  <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="15" aria-valuemin="0"-->
<!--       aria-valuemax="100"> Session 1-->
<!--  </div>-->
<!--  <div class="progress-bar bg-info" role="progressbar" style="margin-left:2px; width: 20%" aria-valuenow="20"-->
<!--       aria-valuemin="0" aria-valuemax="100"> Session 1-->
<!--  </div>-->
<!--  <div class="progress-bar" role="progressbar" style="margin-left:2px; width: 20%" aria-valuenow="15" aria-valuemin="0"-->
<!--       aria-valuemax="100"> Session 1-->
<!--  </div>-->
<!--  <div class="progress-bar bg-info" role="progressbar" style="margin-left:2px; width: 20%" aria-valuenow="20"-->
<!--       aria-valuemin="0" aria-valuemax="100"> Session 1-->
<!--  </div>-->
<!--</div>-->

<div class="row" style="margin-top: 15px; justify-content: center; align-items: center">
  <fa name="home" class="fa-2x spaceToi"></fa>
  <div class="progress" style="width: 60%;
      background-color: white;
      border-style: solid; border-color: black; border-width: 0.1em">
    <div class="progress-bar" role="progressbar"
         [style.width]="this.percentageOfDone+'%'"
         aria-valuenow="0"
         aria-valuemin="0"
         aria-valuemax="100"
         style="background-color: rebeccapurple"
    >
      <div *ngIf="this.percentageOfDone !=0 && this.percentageOfDone<100"> {{this.percentageOfDone}}%</div>
      <div *ngIf="this.percentageOfDone == 100"> {{this.percentageOfDone}}% COMPLETED</div>
    </div>
  </div>
  <fa name="trophy" class="spaceToi fa-2x"></fa>
</div>


<!-- TODO gérer le nombre d'éléments de la progress bar, leur taille et leur nom en fonction du nombre de sessions contenues dans le programme-->
<div class="row" style="justify-content: center; align-items: center">
  <div class="progress"
       style="justify-content: center; align-items: center; background-color: whitesmoke;  height: 40px">
    <div *ngFor="let session of this.sessions">
      <div [ngClass]="{'done':session.isDone}" class="progress-bar monProgressBarElement" role="progressbar"
           style="width: 150px">
        <!--100/{{this.numberSession}} px -->
        <a [routerLink]="['/session', session.id]" routerLinkActive="active">
          <div class="progressBarText"> {{session.name}} </div>
        </a>
      </div>
    </div>
  </div>
</div>


<table class="table">
  <tbody>
  <tr>
    <div class="card-deck">
      <div class="card" *ngFor="let session of this.sessions">
        <div class="card-body">
          <h5 class="card-title"> {{session.name}}</h5>
          <p class="card-text"> {{session.text}} </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-success" (click)="display(session.id)"> Let's Go</button>
        </div>
      </div>
    </div>
  </tr>
  </tbody>
</table>


<table class="table" *ngIf="afficheExos">
  <tbody>
  <h3> Les exercices de la session {{selectedSession?.name}}: </h3>
  <tr>
    <div class="card-deck">
      <div class="card" *ngFor="let exo of this.exercices">
        <div class="card-body">
          <h5 class="card-title"> {{exo.exerciceName}}</h5>
          <p class="card-text"> {{exo.exerciceText}} </p>
        </div>
      </div>
    </div>

    <footer *ngIf="this.percentageOfDone != 100" class="fini">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <button type="button" class="btn btn-success">
              <a (click)="sessionIsDone(this.selectedSession)" class="progressBarText"> J'ai terminé la session
                !
                <fa name="star"></fa>
              </a></button>
          </div>
        </div>
      </div>
    </footer>
  </tr>
  </tbody>
</table>


<footer *ngIf="this.percentageOfDone == 100" class="fini">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <!--TODO lien vers le tableau de bord use-->
        <button type="button" class="btn btn-info"><a [routerLink]="['/board']" routerLinkActive="active"
          (click)="programIsDone(this.program)" class="progressBarText"> J'ai terminé le programme !
          <fa name="trophy"></fa>
        </a></button>
      </div>
    </div>
  </div>
</footer>


<!--TODO rendre ça plus beau -->
<footer class="footer">
  <div class="container">
    <div class="row" style="justify-content:center">
<!--
      <button type="button" class="btn btn-warning spaceButton"><a href="#" class="previousnext">&laquo; Session
        précédente </a>
      </button>
      -->
      <button type="button" class="btn btn-danger spaceButton mb-5 mt-5">
        <a class="progressBarText normalTextBold" [routerLink]="['/board']" routerLinkActive="active" >
          Retour au tableau de bord
         <fa name="times"></fa>
      </a></button>
      <!--
      <button type="button" class="btn btn-warning spaceButton"><a href="#" class="previousnext"> Session suivante
        &raquo;</a>
      </button>
      -->
    </div>
  </div>
</footer>
