<div class="row" style="margin-top: 60px">

  <div class="col-3" style="left:30px">

    <div class="row">
      <img style="border-radius: 50%" src="../../assets/images/troncheUser.jpg" class="img-circle" alt="Cinque Terre"
           width="130" height="130">
    </div>
    <div class="row">
      <button class="btn btn-info mt-2" [routerLink]="['/infoUser']" routerLinkActive="active">Mes informations</button>
    </div>
    <div class="row">
      <p>
        <button class="btn btn-success mt-3 justify-content-end" [routerLink]="'/createProgram'"><i
          class="fas fa-plus-circle"></i> Créer un programme
        </button>
      </p>
    </div>

  </div>


  <div class="col-8 ml-3">

    <div class="row" style="justify-content: center">

      <div class="col-6" style="justify-content: center">
        <div class="col-10" style="border: solid">
          <p><i class="fas fa-medal" style="color: silver"></i>Nombre de sessions effectuées</p>
        </div>
      </div>
      <div class="col-6" style="justify-content: center">
        <div class="col-10" style="border: solid">
          <p><i class="fas fa-trophy" style="color: gold"></i> Nombre de programmes terminés: </p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-11" style="border: solid">
        <p> Requete sql regroupant les inprogress avec les dates de fin different de null, le sport concerné et le
          niveau</p>
        <div  *ngFor="let encours of this.mesEnCours">
          <div *ngIf="encours.endDate == null">
            <div> Nom du programme: {{encours.program?.name}}</div>
            <div> Date de début du programme: {{encours.beginingDate}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-11" style="border: solid">
        <p> Requete sql regroupant les inprogress avec les date de fin = null et, sport concerné et le niveau</p>
        <div  *ngFor="let encours of this.mesEnCours">
          <div *ngIf="encours.endDate != null">
            <div> Nom du programme: {{encours.program?.name}}</div>
            <div> Date de début du programme: {{encours.beginingDate}}</div>
            <div> Date de fin du programme: {{encours.endDate}}</div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<!--<div class="card w-50" style="float: none">-->
<!--  <div class="row justify-content-center">-->
