#cardForMouseOver /*Endroit ou afficher le mouseOver*/
{
  position: relative;
  text-align: center;
}


#cardForMouseOver:hover #card-text {
  visibility: visible;
}

#cardForMouseOver:hover #card-img {
  opacity: 0.1;
  transition: ease;
  transition: 0.3s;

}

#cardForMouseOver:hover {
  background: rgba(8, 8, 6, 0.10);
  transition: 0.3s;
}
