Faire un formulaire d'inscritpion et de connexionn puis faire un petit cadre pour expliquer le site


<div class="col-2">
<div class="form-group">
  <label for="name">Identifiant : </label>
  <input type="text" class="form-control" placeholder="Identifiant" id="name">
</div>
<div class="form-group">
  <label for="password">Mot de passe : </label>
  <input type="password" class="form-control" placeholder="Password" id="password">
</div>
</div>


<p>Nouvel Utilisateur ?</p><button class="btn-info">Je m'inscris</button>



<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../../imagesprojetlocal/bodybuilder.jpg" alt="sportif" title="sportifpagedaccueil" class="img-thumbnail">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    

  </div>
  <div class="col-6">
 <p>Fan de sport mais pas très motivé ? Nous sommes là pour mettre à votre disposition de vraies séances de sport !
   Ces séances sont créées par des coachs professionnels qui collaborent avec nous pour votre bien-être.
   Que vous ayez envie de découvrir les joies de la course ou d'exceller en haltérophilie, ce site est fait pour vous !
   Alors ne tardez pas trop et rejoignez nous!</p>
  </div>
</div>
