<div class="row" style="margin-top: 30px">
  <div class="col-2" style="left:30px ">
    <img style="border-radius: 50%" src="https://placekitten.com/640/360" class="img-circle" alt="Cinque Terre"
         width="130" height="130">


  </div>
  <div class="col-3">
    <div class="col-10" style="left:30px ;border: solid">
      <!-- TODO Ajouter l'ID de coach connecté au lieu de 294   *ngIf="!this.progListInit; this.getCoachPrograms(294)"-->
      <p><i class="fas fa-medal" style="color: silver"></i> Nombre de programmes crées : {{proglistnb}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="col-8" style="left:30px ;border: solid">
      <p><i class="fas fa-trophy" style="color: gold"></i> Nombre de programmes validés</p>
    </div>
  </div>
  <div class="col-3">

    <button class="btn-success" style="height: 50px"  [routerLink]="['/board']"> Retour à l'espace Training</button>

  </div>
</div>
<div class="row">


  <div class="col-3 ml-2">
    <button class="btn btn-info mt-2" [routerLink]="['/infoUser']" routerLinkActive="active">Mes informations</button>
    <p> <button class="btn btn-success mt-3 justify-content-end" [routerLink]="'/createProgram'"> <i class="fas fa-plus-circle"></i> Créer un programme</button></p>
    <p>Liste certificat du coach</p>
  </div>
  <div class="card w-50" style="float: none">
    <div class="row justify-content-center">
      <div class="col-8" style="border: solid">
        <p> Requete sql regroupent les inprogress avec les date de fin = null et, sport concerné et le niveau</p>
      </div>
    </div>
    <div class="mt-5">
      <div class="row justify-content-center">
        <div class="col-11" style="border: solid">
          <p> Requete sql regroupent les inprogress avec les date de fin different de null, le sport concerné et le niveau</p>

        </div>
      </div>
    </div>
  </div>
</div>

